body{
    scroll-behavior: smooth;
}
.landing-page{
    background: url('https://github.com/MungaiKeren/Pizza_Delivery/blob/master/Images/pizza%20LP3.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    width: 100%;
    height: 700px;
    padding: 10%;
}
h1#white,span#white{
    color: white;
    font-family: 'Jacques Francois Shadow', cursive;   
    box-shadow: 2px 2px 5px blueviolet;
}
p#white{
    font-size: 30px;
}
li{
    list-style: none;
}
.container-fluid{
    text-align: center;
    padding: 3%;
}
button#order{
    text-align: center;
}
button#order2{
    margin-left: 16%;
}
.delivery{
    text-align: center;
    display: none;
}
.location{
    display: none;
}
p#p{
    margin-left: 20%;
}
form#place{
    width: 50%;
    margin-left: 20%;
}
#final{
    margin-left: 20%;
}
p#fnl{
    display: none;
    margin-left: 20%;
}
ul#checkout{
    display: none;
    margin-left: 20%;
}
